.react-auto-complete-email {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 30px;
  padding-top: 40px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  margin-top: 300px;
}
.react-auto-complete-email input {
  padding: 14px;
  margin-bottom: 14px;
  width: 200px;
  border-radius: 10px;
  background: rgba(204,204,204,0.4);
  border: none;
  transition-duration: .2s;
  font-size: 16px;
}
.react-auto-complete-email input:focus {
  border: 1px solid cornflowerblue;
  outline: none;
  transform: scale(1.1); 
}
.react-auto-complete-email button {
  padding: 10px;
  width: 100px;
  background: rgba(204,204,204,0.2);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  border: none;
  transition-duration: .2s;
  outline: none;
}
.react-auto-complete-email button:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  border: 1px solid cornflowerblue;
  transform: scale(1.1);
}

/* Autocomplete email css */
.auto-complete-container {
    position: relative;
  }
.auto-complete-container .auto-complete-overlay {
  border-radius: 2px;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 100%;
  /* background: coral; */
  background-color: #FCFCFC;
  border: 1px solid hsl(0, 0%, 93%);
}
.auto-complete-overlay ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.auto-complete-overlay li {
  padding: 12px 15px 12px 15px;
  cursor: pointer;
  border-bottom: 1px solid #EDEDED;
  will-change: background-color;
  transition: background-color .2s ease-in-out;
}
.auto-complete-overlay li.selected {
  background-color: #F3F3F3;
}
.auto-complete-overlay li:last-child {
  border: none;
}
.auto-complete-overlay span.completion {
  color: #0787ad;
}